#hh1,#hh2,#hh3,#hh4,#hh5{
    font-size: 50px;
    width: 200px;
    height: 100px;
    background-color: blue;
    position: relative;
}
#hh2{
    left: 1050px;
    top: -120px;
}
#hh3{
    left: 500px;
    top: -50px;
}
#hh5{
    left: 1050px;
    top: -150px;
}
#hh1{
    position: fixed;
}