body{
    padding: 0;
    margin: 100px;
    text-align: center;
}
button{
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.773);
    border: .1rem white double;
    border-radius: 6rem;
}
button:hover{
    background-color: white;
    color: rgba(255, 0, 0, 0.773);
    border-color: rgba(255, 0, 0, 0.773);
}