*{
    margin: 0;
    padding: 0;
}
#hh{
    text-align: center;
}
#sr{
    display:inline;
}
#imm{
    text-align:center;
}
img{
    height: 400px;
    width: 400px;
}
#bio{
    text-align: center;
    padding: 20px;
}
#hh3{
    text-align: center;
}